<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="OnLogin(f)" #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" required email>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
        >
        </ion-input>
      </ion-item>
      <p></p>
      <ion-button type="submit" expand="block" [disabled]="!f.valid"
        >Login</ion-button
      >

      <p></p>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap"
          >Please click on the button below to register a new user</ion-label
        >
      </ion-item>
      <ion-button
        type="button"
        expand="block"
        color="tertiary"
        (click)="OnRegisterUser()"
      >
        Register Email
      </ion-button>

      <p></p>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap"
          >In case you have forgotten your password, please click on the Reset
          button below</ion-label
        >
      </ion-item>

      <ion-button
        type="button"
        expand="block"
        color="danger"
        (click)="OnResetPassword()"
      >
        Reset Password
      </ion-button>
    </ion-list>
  </form>
</ion-content>
